@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap');

@layer utilities {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {


  body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }







  /*Button Hover Background  */
  .hoverBackground {
    background-image: linear-gradient(#1670CD, #3497FD);
  }

  

  .loginBTN_BG {
    background-image: linear-gradient(#0F2027, #203A43, #2C5364);
  }


  .gradientBlue {
    background: -webkit-linear-gradient(#1670CD, #3497FD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


  }


  .topShadow {
    /* -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75); */
    box-shadow: 0px -1px 5px rgba(167, 167, 167, 0.75);
  }


}